    <div class="row">

      <div class="col-lg-6">
				
				<div class="well">
					<h1>Edit Reservation</h1>

					<%= render 'form' %>

					<%= link_to 'Show', @meeting, class: 'btn btn-info' %> 
					<%= link_to 'Back', meetings_path, class: 'btn btn-sucess' %>
			</div>
		</div>			
	</div>	